@font-face {
    font-family: 'felixiti';
    src: url('../fonts/FELIXTI.TTF');
  }
@font-face {
    font-family: 'gothamlight';
    src: url('../fonts/Gotham-Light.otf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.bglanding{
    width: 100%;
    height: 100vh;
    background: url('../img/landingpage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.centered-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background: #00193082;
}
.landinglogo{
    width: 120px;
}
.logoname{
    width: 135px;
    margin: 25px auto;
}
.goldendesc{
    font-size: 21px;
    width: 40%;
    margin: 0px auto 30px;
    color: #b29f6b;
}
.explore{
    background: transparent;
    border: 1px solid #b29f6b;
    color: #b29f6b;
    padding: 7px 25px;
    font-size: 16px;
    text-transform: uppercase;
}
.viewall50{
    background: transparent;
    border: 1px solid #f4e4be;
    color: #f4e4be;
    padding: 7px 25px;
    font-size: 16px;
    text-transform: uppercase;
}
.topbar{
    width: 100%;
    background: #001930;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.kalonlogo{
    width: 50px;
}
.inline-icon{
    margin: 10px auto;
    font-size: 18px;
}
.inline-icon a i{
    color: #f9ebc5;
    margin: 5px 5px;
}
.search{
    background: transparent;
    border: none;
    padding: 0px 20px;
}
.search:focus{
    outline: none;
    border-bottom:1px solid #ddd;
}

.searchbar{
    margin: 10px auto;
}
.searchbar .fa-search{
    font-size:18px;
}
.navigation{
    width: 100%;
    list-style: none;
    text-align: center;
    background: #fff;
    color: #676161;
    margin: 0px;
}
.navigation li{
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    color: #001930;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}
.navigation li:before {
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    top: -3px;
    left: 0px;
    opacity: 0;
   
}
.navigation li:hover:before{
    opacity: 1;
    transition: width 2s;
    -webkit-transition: width 2s;
}
.navigation a:hover{
    text-decoration:none;
}
.navbar{
    padding: 0;
}
.headerwrapper{
    position: fixed;
    width: 100%;
    top: 0px;  
    z-index: 99; 
}
.banner{
    width: 100%;
    margin-top: 130px;
}
.collections{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.collections-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}
.collections h1{
    text-transform: uppercase;
    font-family: 'felixiti';
    font-size: 85px;
    color: #001930;
    margin: 40px auto 20px;
}
.cards{
    width: 100%;
    display: flex;
}
.card50{
    max-width: 50%;
    flex: 50%;
    margin: 5px;
    overflow: hidden;
}
.card25{
    max-width: 25%;
    flex: 25%;
    padding: 5px;
}
.card1{
    background: url('../img/Artboard1.png');
    background-size:cover;
    background-repeat: no-repeat;
    border: none;
}
.card2{
    background: url('../img/Artboard2.png');
    background-size:cover;
    background-repeat: no-repeat; 
}
.card3{
    background: url('../img/Artboard3.png');
    background-size:cover;
    background-repeat: no-repeat; 
}
.card4{
    background: url('../img/Artboard4.png');
    background-size:cover;
    background-repeat: no-repeat; 
}
.card5{
    background: url('../img/Artboard5.png');
    background-size:cover;
    background-repeat: no-repeat; 
}
.card6{
    background: url('../img/Artboard6.png');
    background-size:cover;
    background-repeat: no-repeat; 
}
.carddata50{
    padding: 200px 0px 25px;
}
.carddata50 img:hover{
    transform: scale(1.1);
}
.carddata25 h1{
    font-family: 'felixiti';
    color: #fff;
    font-size: 26px;
}
.carddata25{
    padding: 225px 0px 25px;
}
.carddata50 h1{
    font-family: 'felixiti';
    color: #fff;
    font-size: 52px;
    margin-bottom: 0px;
}
.carddata50 p{
    font-family: 'gothamlight';
    color: #fff;
    font-size: 21px;
}
.carddata25 p{
    font-family: 'gothamlight';
    color: #fff;
    font-size: 12px;
}
.shopnow p{
    font-family: 'gothamlight';
    color: #001930;
    font-size: 12px;
    margin: 15px auto 8px;
}
.newarrival{
    width: 100%;
    background: #001930;
    padding: 90px 0px;
}
.shopnow{
    background: #F9E9C1;
    padding: 15px;
}
.product{
    margin-bottom: 15px;
}
.ourstory{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding: 70px 0px;
}
.lookbook{
    width: 100%;
    background: #001930;
    padding: 90px 0px;
}
.news{
    width: 100%;
    background: #001930;
    padding: 70px 25px;
}
.shopnow {
    background: #F9E9C1;
    padding: 77px 35px;
}
.kalon-btn-blue{
    color: #001930;
    background: transparent;
    border: 1px solid #001930;
    padding: 7px 25px;
    margin: 20px auto;
    text-transform: uppercase;
    display: inline-block;
}
.kalon-btn-skin{
    color: #F9E9C1;
    background: transparent;
    border: 1px solid #F9E9C1;
    padding: 7px 25px;
    margin: 20px auto;
    text-transform: uppercase;
    display: inline-block;
}
.kalon-btn-skin:hover{
    background: #F9E9C1;
    color: #001930;
}
.kalon-btn-blue:hover{
    background: #001930;
    color: #F9E9C1;
}
.explore:hover{
    background: #F9E9C1;
    color: #001930;
}
.shopnow h1{
    font-family: 'felixiti';
    color: #001930;
    font-size: 32px;
}
.footer{
    width: 100%;
    background: #001930;
}
.latestnews{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding: 70px 0px;
}
.bluebg{
    background: #001930;
    color:#F9E9C1;
}
h1{
    font-family: 'felixiti';
    font-size: 32px;
}
p{
    font-family: 'gothamlight';
    font-size: 12px;
}
.bluebg h1{
    font-family: 'felixiti';
    font-size: 32px;
}
.bluebg p{
    font-family: 'gothamlight';
    font-size: 12px;
}
.fullwidth{
    width: 100%;
    display: inline-block;
}
.cartproduct{
    width: 55%;
    float: left;
    background: rgb(0, 25, 48,0.8);
    height:450px;
}
.cartright{
    width: 45%;
    float: left;
    background:#001930;
    height: 450px;
}
.story{
    padding: 90px 40px 65px;
}
.skinbg{
    background: #F9E9C1;
    color:#001930;
}
.skinbg h1{
    font-family: 'felixiti';
    font-size: 32px;
}
.skinbg p{
    font-family: 'gothamlight';
    font-size: 12px;
}
.look_book{
    padding: 70px 15px;
}
.p8530{
    padding: 85px 30px;
}

.footer-wrapper{
    padding:90px;
}
.footer-wrapper h1{
    font-family: 'gothamlight';
    color: #F9E9C1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    margin: 25px auto;
}
.footer-wrapper p{
    color:#b7b7b7;
    font-size: 16px;
}
.footer-wrapper i{
    font-size: 21px;
    color: #F9E9C1;
}
.mgt25{
    margin-top: 25px;
}
.emailinp{
    width: 85%;
    display: inline-block;
    background: transparent;
    border: 1px solid #F9E9C1;
    border-radius: 0px;
    color: #F9E9C1;
}
.send{
    display: inline-block;
    border: 1px solid #F9E9C1;
    background: #F9E9C1;
    color: #001930;
    padding: 2px 15px 4px;
    font-size: 20px;
    margin-left: -5px;
}
.topspacer{
    margin-top: 131px;
}

/*overlay*/
.overlay {
    position: relative;
}
.overlay-data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgb(0, 25, 48,0.8);
}
.overlay:hover .overlay-data {
    opacity: 1;
}
.overlay .odata25{
    padding: 225px 0px 25px;
}
.overlay .odata50{
    padding: 160px 0px 25px;
}
.overlay .odata50 h1 , .overlay .odata50 p{
    color: #F9E9C1;
}
.overlay .odata25 h1 , .overlay .odata25 p{
    color: #F9E9C1;
}

.collection-wrapper{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding: 40px 0px;
}
.collection-box{
    padding: 0px 8px;
}
.collection-box h4{
    font-family: 'gothamlight';
    font-weight: 600;
    color: #001930;
    font-size: 16px;
    margin: 15px auto 5px;
}
.collection-box p{
    font-family: 'gothamlight';
    color: #001930;
    font-size: 14px;
    margin: 0px auto 25px;
}
.lookbook-wrapper{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding: 40px 0px;
}
.lookbook-box{
    padding: 10px;
}
.lookbook-box h4{
    font-family: 'gothamlight';
    font-weight: 600;
    color: #001930;
    font-size: 16px;
    margin: 15px auto 5px;
}
.lookbook-box p{
    font-family: 'gothamlight';
    color: #001930;
    font-size: 14px;
    margin: 0px auto 25px;
}
.no-pd{
    padding: 0px;
}
.sort{
    border-radius: 0px;
    background: transparent;
    border: 1px solid #001930;
    color: #001930;
    margin: 15px auto 40px -8px;
    width: 90%;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
.showresult{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'gothamlight';
    margin: 20px auto;
    color: #001930;
    font-weight: 600;
    text-align: right;
}
.login-wrapper{
    height:450px;
    display: flex;
    width: 80%;
    margin: 130px auto 0px;
    justify-content: center;
    align-items: center;
}
.changepassword-wrapper{
    height: 500px;
    display: flex;
    width: 100%;
    margin: 130px auto 0px;
    justify-content: center;
    align-items: center;
}
.profilepic{
    background: #001930;
    color: #fff;
    height: 200px;
}
.profiledetails{
    background: #001930;
    color: #fff;
    height: 205px;
}
.profiledata{
    background: #001930;
    color: #fff;
    height: 430px;
}
.userdata{
    background: #001930;
    color: #fff;
    height: 430px;
}
.register-wrapper{
    height:450px;
    display: flex;
    width: 80%;
    margin: 130px auto 0px;
    justify-content: center;
    align-items: center;
}
.loginbox{
    width:80%;
    margin:auto;
    background: #001930;
    color: #fff;
    padding: 40px;
}
.loginpage{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.changepassword{
    background: url('../img/Artboard28.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.registerpage{
    background: #000;
    color:#fff;
}
.login{
    border-right: 1px solid #fff;
}
.login h2{
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
.register{
    border-right: 1px solid #fff;
}
.register h2{
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
.signin h2{
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
#newsletter{
    margin:30px auto 10px;;
}
.newsletterspan{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
.newcust p{
    font-size: 14px;
    font-family: 'gothamlight';
}
.newcust h2{
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'gothamlight';
}
.login .logininputs{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-family: 'gothamlight';
    width:80%;
}
.register .logininputs{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-family: 'gothamlight';
    width:80%;
}
.signin .logininputs{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-family: 'gothamlight';
    width:80%;
}
.signin{
    padding:30px 50px;
}
.register{
    padding:30px 50px;
}
.p25{
    padding: 25px 0px;
}
.newcust h2{
    padding:0px 25px;
}
.newcust p{
    padding:30px 25px;
}
.newac{
    margin:0px 25px;
}

